*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} /*css reset*/

body {
	background-color: #ffffff;
	background-size: 100vh;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 12px;
	text-align: center;
}

header {
	height: 40vh;
}

.menu {
	background-color: #243055;
	top: 0;
	width: 100vw;
	z-index: 1;
	position: fixed;
}

.menu img{
	height: 20em;
	margin: 30px auto -100px 45px;
}

.site-title {
	font-family: 'Cardo', serif;
	font-size: 4em;
	margin: 0px 0px 1em;
}

section {
	height: 55vh;
}

p {
	font-size: 1.4em;
	margin: 0px 300px 80px;
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.8em;
	margin: 60px  0px 45px;
	font-size: 2.5em;
}

h3 {
	font-family: 'Merriweather', serif;
	margin: 60px  0px 05px;
	font-size: 2em;
}

section .mvv {
	margin-top: -20px;
}

#mvv:before {
	animation: forwards;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}

.valores li, .valores p{
	margin: 0px 280px 05px;
}

.rodape{
   position: static;
   bottom: 0;
   height: 13vh;
   width: 100vw;
   background-color: #243055;
   color: white;
   margin-top: 55px;
   display: flex;
}
.rodape li{
	margin: 0px 280px 05px;
	font-size: 1em;
}

.rodape2 {
	margin-top: 10px;
	flex: 50%;
	column-gap: 5px;
}

@media(max-width: 300px) {
	body {
		font-size: 11px;
	}

	.site-title{
		margin: 0px 30px 05px;
	}
}

@media(max-width: 600px) {
	body {
		font-size: 13px;
	}

	.menu a {
		display: block;
		font-size: 1.4em;
		padding: 15px 05px;
	}

	p {
		margin: 50px;
	}
}

@media (max-width: 900px) {
	body {
		font-size: 15px;
	}

	.menu a {
		display: block;
		font-size: 1.5em;
		padding: 25px 20px;
	}

	p {
		margin: 50px 70px 0px;
		text-align: justify;
	}
}